.example-card {
  width: 25rem;

  margin: auto;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.button-wrapper {
  display: grid;
  margin-bottom: 1rem !important;
  gap: 1em;
  justify-content: center;
  align-items: center;
}
.main-div {
  background-color: #cccccc;
  height: 100vh;
  display: grid;
  justify-content: center;
}
.ggle-btn {
  margin-bottom: 2rem;
}
