<div class="main-div">
  <mat-card class="example-card mat-elevation-z8">
    <mat-card-header class="text-centre">
      <mat-card-title>Stemify</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Username"
            [(ngModel)]="username"
            name="username"
            required
          />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Password"
            [(ngModel)]="password"
            type="password"
            name="password"
            required
          />
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions class="button-wrapper">
      <button
        mat-raised-button
        class="mat-elevation-z8"
        (click)="login()"
        color="primary"
      >
        Login
      </button>
      <button
        class="ggle-btn mat-elevation-z8"
        mat-raised-button
        color="warn"
        (click)="authService.GoogleAuth()"
      >
        <mat-icon>home</mat-icon>
        Log in with Google
      </button>
    </mat-card-actions>
  </mat-card>
</div>
